# すべて無視する
/*



!/system/*
!/system/**


./*.exe
./*.wav
./*.mp3
./*.png
./*.dll


# 特定のファイルを追跡対象にする
!/example/*
!/dxlib-ruby/*
!/example/*.rb
!/dxlib-ruby/*.rb

!/*.rb
!/*.bat
!/*.txt
!/*.yml
!/*.toml
# 例外として無視しないファイルを指定
!/.gitignore
