
# すべて無視する
/*
!/system/
!/system/**

# すべてのフォルダを無視するが、特定フォルダを例外指定
!dxlib-ruby/
!example/

# フォルダ内のすべてを無視しないようにする
!dxlib-ruby/**
!example/**

# 拡張子で無視
*.exe
*.wav
*.mp3
*.png
*.dll

# 特定ファイル形式は無視しない
!*.rb
!*.bat
!*.txt
!*.yml
!*.toml

# 例外として特定ファイルを指定
!./.gitignore
